body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, #5f2c82, #49a09d);
}

* {
  box-sizing: border-box;
  font-family: "RobotoMono", monospace;
}
